.modal {
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    display: flex;
    pointer-events: all;
}
.modal__content {
    background-color: #fff;
    color: rgb(27, 21, 21);
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    padding: 20px;
}
.modal__content input {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.modal__content h1 {
    padding: 30px;
}

.modal__content .input-button {
    padding: 5px;
    background-color: rgb(27, 21, 21);
    color: #fff;
}
.modal__content .input-button:hover{
    background-color: #fff;
    color: #000;
}