header{
    display: flex;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 50px;
}

header img {
    padding: 10px;
}
header a {
    margin-right: 50px;
    margin-left: 5px;
}
nav a {
    margin-left: 20px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 16px;
}
nav a:hover{
    color: rgb(124, 51, 146);
}

nav a::after{
    content:'';
	position: absolute;
    display: block;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: rgb(223, 215, 215);
	transition: all 1s ease;
}
nav a:hover::after{
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

nav .cart {
    font-size: 30px;
}

header input {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 30px;
}