.popup {
    background-color: rgba(245, 244, 244, 0.4);
    align-items: center;
    justify-content: center;
    pointer-events: none;
    display: flex;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.popup_inner {
    background-color: rgb(41, 32, 32);
    color: rgb(27, 21, 21);
    border-radius: 15px;
    transition: ease-in-out 0.5s;
    padding: 20px;
    color: #fff;
    display: flex;
    position: relative;
}

.popup_img {
    width: 600px;
    height: 400px;
    margin-right: 40px;
}

.popup_img img {
    width: 100%;
    height: 100%;
}

.popup_info {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup_info input {
    border-radius: 5px;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
    padding: 3px;
}

.popup_info button {
    padding: 2px 20px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(141, 67, 175);
    transition: ease-in-out 0.5s;
    color: #fff;
}

.popup_info button:hover {
    background-color: rgb(55, 159, 185);
    color: #000;
}

.popup_button_close .close-btn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: transparent;
    border: 0;
    position: absolute;
    top: 5px;
    right: 15px;
    transition: ease-in-out 0.5s;
}

.popup_button_close .close-btn:hover {
    color: red;
}