*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3C3153 !important;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container  {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
.full {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex: 1 1 auto;
}
::selection {
  background-color: rgb(95, 228, 252);
  color: rgb(134, 96, 240);
}