@media (max-width: 1399px){
    .promo_game:last-child{
        grid-column: 2;
    }
}

@media (max-width: 1199px) {
    
    .menu {
        flex-direction: column;
    }

    .header_container .logo_header {
        width: 200px;
    }
    .header_form {
        text-align: left;
    }
    .header_form form input {
        padding: 2px 10px;
        width: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .header_form form input:focus{
        width: auto;
    }


    .bring_game {
        padding-bottom: 80px;
    }

    .game_card_container{
        padding: 100px 0;
    }

    .game-info img {
        width: 300px;
        height: 300px;
    }

    .contacts {
        padding: 0;
    }

    .contacts_info {
        padding: 70px 0;
    }

    .about_container_info {
        align-items: center;
    }

    .footer_img img {
        width: 250px;
    }

}

@media (max-width: 991px) {

    .container p{
        font-size: 14px;
    }
    .header_container {
        justify-content: space-between;
    }
    .menu {
        flex-direction:row;
        align-items: center;
    }
    
    .nav_header {
        display: none;
    }

    .burger {
        display: flex;
        margin-right: 40px;
    }

    input.burger__check:checked ~ .burger-nav{
        display: flex;
    }

    .cart_widget {
        margin-right: 50px;
    }

    .header_form form {
        display: flex;
        align-items: center;
    }

    .header_form form input{
        margin-bottom: 0;
    }

    .bring_game {
        padding: 0;
       
    }

    .bring_img img{
        width: 269px;
        height: 359px;
    }

    .bring_info p{
        font-size: 13px;
    }

    .bring_game_container{
        align-items: center;
    }

    .playing_container .playing_info p:first-child{
        margin-bottom: 10px;
    }

    .playing_container .playing_img {
        display: flex;
        align-items: center;
    }

    .playing_container .playing_info h2{
        line-height: 100%;
        margin-bottom: 10px;
    }

    

    .my_slider img {
       width: 100px;
       height: 100px;
       margin-right: 10px;
    }

    .game-trailer iframe{
        width: 400px;
        height: 350px;
    }

    .game-info img{
        width: 250px;
        height: 250px;
    }

    .about_image img {
        width: 400px;
        height: 600px;
    }

    .about_content h2{
        font-size: calc(1.125rem + .9vw);
    }

    .about_content p span{
        font-size: 17px;
    }

    .about_contacts h3 {
        font-size: calc(0.6rem + .9vw);
    }

    .contacts_info {
        padding: 70px 0;
    }

    .contacts_map iframe {
        width: 400px;
        height: 350px;
    }
    .form_info{
        margin-right: 15px;
    }
    .get_in_touch_contact {
        display: flex;
        align-items: center;
    }
    .get_in_touch_contact form {
        margin-left: 0;
        padding: 15px;
    }

    .get_in_touch_contact form input{
        padding: 5px 2px;
    }

    .get_in_touch_contact form button{
        padding: 6px 20px;
    }

    .footer_img {
        grid-column: 1/4;
        margin-bottom: 40px;
        
    }

}

@media (max-width: 800px){

    .home-page h1{
        margin-bottom: 10px;
    }

    .adding-container .adding-info p:not(:last-child){
        font-size: 14px;
    }

    .adding-container .adding-info h2{
        font-size: calc(1.3rem + .9vw);
    }

    .adding_column_container .column {
        padding: 20px 5px;
    }

    .column .ico {
        margin-bottom: 20px;
    }

    .adding_column_container .column h3{
        font-size: calc(1rem + .6vw);
        margin-bottom: 10px;
    }
    .bring_info p:first-child {
        font-size: 14px;
    }

    .bring_info h2{
        font-size: calc(1rem + .9vw);
    }

    .bring_info p:not(:first-child){
        font-size: 13px;
    }

    .bring_info .store_link{
        padding: 10px 20px;
    }

    .bring_img img{
        width: 200px;
        height: 300px;
    }
}


@media (max-width: 768px){
    
    .home-page {
        margin-bottom: 30px;
    }

    .header_container{
        margin-bottom: 15px;
    }
    
    .header_form {
        display: none;
    }

    .header_container .cart_widget{
        margin-right: 0;
        margin-left: 50px;
    }

    .burger-nav{
        height: auto;
    }

    .home-slider {
        box-shadow: 0px 19px 20px -10px rgb(212, 185, 228);
        padding: 20px 0;
    }

    .carousel-caption h3 {
        font-size: calc(0.9rem + .6vw);
        margin-bottom: 0;
    }

    .carousel-caption p {
        margin-bottom: 5px;
    }

    .carousel-caption button{
        padding: 1px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .adding {
        padding: 40px 0;
    }

    .adding_column_container .column{
        margin-right: 0;
    }

    .adding_column_container .price {
        grid-column: 1/3;
    }

    .bring_game_container{
        margin-bottom: 60px;
    }


    .playing {
        box-shadow: 0px 19px 20px -1px rgb(123, 36, 182);
    }

    .playing .playing_container{
        display: flex;
        flex-direction: column;
        padding: 20px 30px 30px 30px;
    }

    .playing_container .playing_info{
        margin-right: 0;
        margin-bottom: 50px;
    }

    .my_slider img {
        width: auto;
        height: auto;
    }

    .promo_games {
        padding: 20px 0;
    }

    .promo_game:last-child{
        grid-column: auto;
    }

    .promo_container .promo_img img{
        width: 300px;
        height: 300px;
    }

    .footer {
        padding: 30px 0 20px 0;
    }

    .footer_img {
        grid-column: 1/2;
        margin-bottom: 40px;
        
    } 
    
    .nav_about{
        grid-column: 2/1;
    }

    .footer_contacts {
        grid-column: 2/2;
    }

    .footer_nav {
        margin-bottom: 40px;
    }

    .game_card_container{
        flex-direction: column-reverse;
        align-items: center;

    }

    .game-card h1 {
        margin-bottom: 0;
    }

    .game_card_container{
        padding: 30px 0;
    }

    .game-trailer {
        justify-content: center;
        align-items: center;
    }

    .game-info{
        margin-left: 0;
        margin-bottom: 15px;
    }

    .about_container_info {
        flex-direction: column-reverse;
    }

    .about_image {
        float: right;
    }

    .about_image img{
        width: 200px;
        height: 300px;
    }
    
    .form_contact_container{
        padding: 20px 50px;
        border-radius: 0px 97px 97px 0px;
    }

    .contacts_map iframe {
        width: 260px;
        height: 350px;
    }

    .added_game img{
        width: 200px;
        height: 200px;
    }

    .added_game_info button{
        padding: 2px 5px;
    }
}

@media (max-width: 590px) {

    .burger-nav ul{
        padding: 50px 0;
    }

    .burger-nav form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-nav form input{
        margin-bottom: 10px;
    }

    .burger-nav form button{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .bring_img {
        display: none;
    }

    .bring_info .store_link {
        padding: 5px 10px;
        margin-left: 30px;
    }

    .contacts_info{
        flex-direction: column;
        align-items: center;
    }

    .contact_address {
        margin-bottom: 30px;
    }

    .contacts_map iframe {
        width: 370px;
    }
}

@media (max-width: 510px) {

    .promo_container .promo_img img{
        width: 250px;
        height: 250px;
    }
    .footer_item {
        grid-column: 1;
        justify-content: center;
        align-items: center;
    }

    .nav_about{
        margin-bottom: 40px;
    }

    .footer_contacts{
        display: flex;
        flex-direction: column;
    }

    .ico_contacts {
        justify-content: flex-start;
    }

    .about_form  {
        padding: 30px 0;
        box-shadow: 0px 19px 20px -1px rgb(144, 128, 156);
    }

    .about_form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_form form input {
        margin-bottom: 15px;
    }

    .form_contact_container{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .form_info {
        width: auto;
        padding: 0 20px;
    }

    .added_game_info{
        padding-left: 20px;
    }

    
}

@media (max-width: 445px){

    .header_container .cart_widget {
        margin-left: 10px;
    }

    .carousel-caption h3 {
        font-size: calc(0.5rem + .6vw);
    }

    .carousel-caption p{
        font-size: 11px;
    }

    .carousel-caption button{
        font-size: 12px;
    }

    .modal__content {
        padding: 0;
    }

    .modal__content input{
        width: auto;
        padding: 5px;
        margin-bottom: 20px;
    }

    .modal__content .input-button{
        padding: 5px 15px;
    }

    .modal__content h1{
        padding: 10px;
        font-size: calc(1.1rem + 1.5vw);
    }

    .column .ico{
        width: 50px;
        height: 50px;
        background-size: 20px;
    }

    .bring_info .store_link {
        margin-left: 60px;
    }

    .game-trailer iframe{
        width: 320px;
        height: 280px;
    }

    .about_form h2 {
        font-size: calc(1rem + .9vw);
    }

    .about_form h2 img {
        width: 200px;
        height: 60px;
    }

    .about_form input{
        width: auto;
        padding: 15px;
    }

    .contacts_map iframe{
        width: 290px;
    }

    .added_game img{
        width: 130px;
        height: 130px;
    }

}

@media (max-width: 395px){
    .my_slider img{
        width: 100px;
        height: 100px;
    }

    .adding_column_container .column{
        grid-column: 1;
    }

    .under_border {
        flex-direction: column;
    }
}

@media (max-width: 375px){

    .header_container{
        justify-content: center;
    }
    .header_container .cart_widget{
        margin-left: 0;
    }

    .header_container .cart_widget a{
        font-size: 16px;
    }

    .header_container .cart_widget span{
        font-size: 10px;
    }

    .header_container .logo_header{
        padding: 10px 0;
        width: 150px;
        margin-left: 20px;
    }

    .burger label span {
        top: 2px;
        margin-right: 20px;
    }

    input.burger__check:checked ~ label>span{
        top: 10px;
        left: 17px;
    }

    .burger{
        margin-right: 20px;
    }

    .burger-nav ul{
        padding-bottom: 20px;
    }

    .burger-nav form input{
        width: 60%;
        transition: ease-in-out 0.5s;
    }

    .burger-nav form input:focus {
        width: 60%;
    }

    header input{
        margin-left: 0;
        margin-right: 0;
        padding: 5px 0;
    }

    .game-trailer iframe{
        width: 255px;
    }

    .contacts_map iframe{
        width: 250px;
    }


    .under_link a{
        margin-right: 10px;
        font-size: 13px;
    }
}

@media (max-width: 325px) {

    .my_slider img:last-child{
        display: none;
    }
    .my_slider img {
        
       margin-right: 5px;
    }

    .carousel-caption h3 {
        display: none;
    }

    .carousel-caption p {
        display: none;
    }
}

@media (max-width: 300px){
    .promo_container .promo_img img{
        width: 200px;
        height: 200px;
    }

    .game-container .games-img img{
        width: 200px;
        height: 200px;
    }

    .get_in_touch_contact form{
        padding: 0;
        background-color: transparent;
    }

    .get_in_touch_contact form:hover{
        box-shadow: 0px 0px 0px 0px rgb(34 129 238 / 60%);
    }
}

